<div class="d-flex justify-content-between align-items-center">
    <%= link_to "<- Back", @article, class: "text-decoration-none fs-5 ms-4" %>
    <h1 class="text-center flex-grow-1 mt-3">Edit Article</h1>
</div>
<%= render "form", article: @article %>